{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}
{% block body %}
<div class=" row justify-content-evently align-self-center">
        <div class="col d-flex align-items-center ">
        {% if is_granted('ROLE_ADMIN') %}, 
        <a class="link-secondary btn btn-primary btn-lg fs-1" href="{{path('app_admin')}}">Gérer</a>
         {% endif %}
        <div class="col d-flex align-items-center ">
        <a class="link-secondary btn btn-primary btn-lg m-3 fs-1" href="{{path('app_jouer')}}">Jouer</a>

        </div>
       
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     
        <div class="row justify-content-evently align-self-center">
        <a class="link-secondary btn btn-primary btn-lg w-100 m-1 pl-5 pr-5 fs-1" href="{{path('app_logout')}}">Se deconnecter</a>
        </div> 
    
        {% else %}
        <div class="row justify-content-evently align-self-center">
        <a class="link-secondary btn btn-primary btn-lg w-100 m-1 pl-5 pr-5 fs-1" href="{{path('app_login')}}">Se connecter</a>
         
        </div>
        {% endif %}

    </div>  
    </div>
{% endblock %}



