{% extends 'base.html.twig' %}
{% block title %}Aventure !{% endblock %}

{% block body %}
{% for aventure in aventures %}

<div><a href="{{ path("app_start_aventure",{'idPersonnage': personnage.id,'idAventure': aventure.id}) }}"> {{aventure.titre}}</a></div>
{% endfor %}



{% endblock %}

  

